@model ProjectX.Application.Usecases.User.UserUpdateRequest

<html>
<link href="~/css/Webform.css" rel="stylesheet" />
<body>
    <center style="font-size:30px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">USER</center>

    <a asp-action="IndexUser" style="padding:10px;
	border-radius: 11px;
	box-shadow: 4px 3px 2px darkgrey;
	background: white;">
        Back to Index
    </a>
    <div class="card">
        <div class="card-body">
            <div class="containers">
                <div class="text">
                    Update User
                </div>
                <form asp-action="UpdateUser" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="input-data">
                           <select id="drpEmpList" class="control" asp-for="ClientId" asp-items="@(new SelectList(ViewBag.client, "Id", "Name"))">
                                <option value="">--Clients--</option>
                            </select>
                            <span asp-validation-for="ClientId" class="text-danger"></span> 
                        </div>
                        <div class="input-data">
                            <input asp-for="Name" type="text" required>
                            <div class="underline"></div>
                            <label asp-for="Name">Name</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="input-data">
                            <input asp-for="UserName" type="text" required>
                            <div class="underline"></div>
                            <label asp-for="UserName">UserName</label>
                        </div>
                        <input type="hidden" asp-for="Password" />
                        <div class="input-data">
                            <label asp-for="LastModifiedBy" style="margin-bottom:31px!important;font-size: 14px;
	                    	color: #3498db;">ModifiedBy</label>
                            <input asp-for="LastModifiedBy" type="text" value=@ViewBag.UserName readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data" >
                            <input type="submit" value="submit" class="sbmit" style="width:25vh;margin:auto;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>